<h1 class="font-bold text-4xl">Home</h1>

<ul>
  <li><b>Plano de Melhorias</b></li>
  <li><%= link_to "Ideias", ideas_path %></li>
  <li><%= link_to "Projetos", projects_path %></li>
</ul>

<ul>
  <li><b>Utilitários</b></li>
  <li><%= link_to "Tasks", tasks_path %></li>
</ul>